body, p, .lead { line-height:   } 
body { font-size:  px } 
.glazed-header--top #glazed-main-menu .nav > li > a, .glazed-header--side #glazed-main-menu .nav a  { font-size:  px } 
h1,h2,h3,h4,h5,h6 { line-height:  ; } 
h1 { font-size:  px; } 
h2 { font-size:  px; } 
h3 { font-size:  px; } 
h4 { font-size:  px; } 
blockquote, .blockquote p { font-size:  px } 
@media screen and (max-width: 768px) { 
  body, p { font-size:  px; } 
  .glazed-header--top #glazed-main-menu .nav > li > a, .glazed-header--side #glazed-main-menu .nav a { font-size:  px } 
  h1 { font-size:  px; } 
  h2 { font-size:  px; } 
  h3 { font-size:  px; } 
  blockquote, .blockquote p { font-size:  px; } 
} 

#page-title { text-align:   } 

#page-title .page-title { height:  px } 

.page-title-full-width-container:after { opacity:   } 

.page-title-full-width-container:after { background-position: center center; }

.page-title-full-width-container:after { background-size: auto; }

.container {
  max-width: px;
  padding-left: px;
  padding-right: px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.glazed-boxed-container {
  max-width: px;
}
.container .row {
  margin-left: -0px;
  margin-right: -0px;
}
.container .row .row {
  margin-left: -0px;
  margin-right: -0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: px;
}
.region-sidebar-first .block,
.region-sidebar-second .block {
  margin-bottom: px;
}
.page-title-full-width-container {
  margin-bottom: px;
}
.page-title-full-width-container .breadcrumb {
  right: px;
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: px;
    padding-right: px;
  }
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container .row {
    margin-left: -0px;
    margin-right: -0px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
body { background-position: left top; }

body { background-size: auto; }

  #glazed-main-menu,
  #glazed-main-menu .menu__breadcrumbs,
  #glazed-main-menu .menu__level {
    text-align: ;
  }
.glazed-header--side .glazed-main-menu {
  width: px;
}
.glazed-header--side .menu__level {
  width: px;
}

.body--glazed-nav-desktop #navbar.glazed-header--top {
  background-color: ;
  opacity: 1;
}
.body--glazed-nav-desktop #navbar.glazed-header--top.affix {
  background-color: ;
  opacity: 1;
}

.body--glazed-nav-desktop .glazed-header--top .menu > li > a,
.body--glazed-nav-desktop .glazed-header--top .wrap-branding {
  height: px;
  line-height: px;
}
.body--glazed-nav-desktop .glazed-header--top #block-glazed-config-full-screen-search {
  height: px;
  line-height: px;
}
.body--glazed-nav-desktop .glazed-header--top.affix .menu > li > a,
.body--glazed-nav-desktop .glazed-header--top.affix .navbar-header .wrap-branding {
  height: px;
  line-height: px;
}
.body--glazed-nav-desktop .glazed-header--top.affix #block-glazed-config-full-screen-search {
    height: px;
    line-height: px;
}
.body--glazed-nav-desktop .nav-child-fixed-width {
  top: px;
}
.body--glazed-nav-desktop .glazed-header--top.affix .nav-child-fixed-width {
  top: ;
}
.body--glazed-nav-mobile .glazed-header .navbar-header .wrap-branding,
.body--glazed-nav-mobile .glazed-header .navbar-toggle {
  height: px;
}
.body--glazed-nav-mobile .glazed-header #block-glazed-config-full-screen-search {
  height: px;
  line-height: px;
}
