
body, .toooltip {
  font-family: "Titillium Web", "Titillium Web";
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis Medium", "Dosis";
  font-weight: 500;
  font-style: normal;
}

nav,nav ul li,nav a {
  font-family: "Titillium Web", "Titillium Web";
  font-weight: 400;
  font-style: normal;
}

.site-name,.navbar-brand,label,.field-label,.page-title,th,.lead,.tp-caption,.az-counter {
  font-family: "Dosis Extralight", "Dosis";
  font-weight: 200;
  font-style: normal;
}

blockquote, blockquote p {
  font-family: "Dosis", "Dosis";
  font-weight: 400;
  font-style: normal;
}

.glazed-header--side .glazed-main-menu {
  width: 300px;
}
.glazed-header--side .menu__level {
  width: 300px;
}

.body--glazed-nav-desktop #navbar.glazed-header--top {
  background-color: rgba(126,206,253,1);
  opacity: 1;
}
.body--glazed-nav-desktop #navbar.glazed-header--top.affix {
  background-color: rgba(126,206,253,0.9);
  opacity: 1;
}

.body--glazed-nav-desktop .glazed-header--top .menu > li > a,
.body--glazed-nav-desktop .glazed-header--top .wrap-branding {
  height: 90px;
  line-height: 90px;
}
.body--glazed-nav-desktop .glazed-header--top #block-glazed-helper-full-screen-search {
  height: 90px;
  line-height: 90px;
}
.body--glazed-nav-desktop .glazed-header--top.affix .menu > li > a,
.body--glazed-nav-desktop .glazed-header--top.affix .navbar-header .wrap-branding {
  height: 60px;
  line-height: 60px;
}
.body--glazed-nav-desktop .glazed-header--top.affix #block-glazed-helper-full-screen-search {
    height: 60px;
    line-height: 60px;
}
.body--glazed-nav-desktop .nav-child-fixed-width {
  top: 90px;
}
.body--glazed-nav-desktop .glazed-header--top.affix .nav-child-fixed-width {
  top: 60;
}
.body--glazed-nav-desktop.body--glazed-header-overlay .page-title-full-width-container  { padding-top: 120px }

.body--glazed-nav-mobile .glazed-header .navbar-header .wrap-branding,
.body--glazed-nav-mobile .glazed-header .navbar-toggle {
  height: 60px;
}
.body--glazed-nav-mobile .glazed-header #block-glazed-helper-full-screen-search {
  height: 60px;
  line-height: 60px;
}
#navbar.glazed-header--top .menu a:hover, #navbar.glazed-header--top .menu a:focus { background-color: accent2 }

#navbar.glazed-header--top .menu a:hover, #navbar.glazed-header--top .menu a:focus { color: white }

#navbar.glazed-header--top .dropdown-menu { background-color: white }

#navbar.glazed-header--top .dropdown-menu a:hover,#navbar.glazed-header--top .dropdown-menu a:focus { background-color: accent1 }

body, p, .lead { line-height:  1.5 } 
body { font-size:  20px } 
.glazed-header--top #glazed-main-menu .nav > li > a, .glazed-header--side #glazed-main-menu .nav a  { font-size:  13px } 
h1,h2,h3,h4,h5,h6 { line-height:  1.1; } 
h1 { font-size:  42px; } 
h2 { font-size:  36px; } 
h3 { font-size:  26px; } 
h4 { font-size:  22px; } 
blockquote, .blockquote p { font-size:  18px } 
hr { height:  1px; } 
hr { margin-left: 0;margin-right: auto; }
hr {  background-color:  #cccccc; } 
@media screen and (max-width: 768px) { 
  body, p { font-size:  18px; } 
  .glazed-header--top #glazed-main-menu .nav > li > a, .glazed-header--side #glazed-main-menu .nav a { font-size:  18px } 
  h1 { font-size:  32px; } 
  h2 { font-size:  28px; } 
  h3 { font-size:  26px; } 
  blockquote, .blockquote p { font-size:  14px; } 
} 

#page-title { text-align:  left } 

#page-title .page-title { height:  60px } 

.page-title-full-width-container:after { opacity:  1 } 

.page-title-full-width-container:after { background-position: center center; }

.page-title-full-width-container:after { background-size: auto; }

/*

Bug Fix for theme settings in theme administration

*/
#system-theme-settings .form-radios input {
	display:block;
}

/*

Global Declared Classes

*/
html {
	height:100vh;
/* set viewport constraint */
	min-height:100%;
/* enforce height */
}

.salmon,.salmon h1 {
	color:#ff7166;
}

.linethrough {
	text-decoration:line-through;
}

.hidden {
	visibility:hidden;
}

.pointer:hover {
	cursor:pointer;
}

.background-repeat-x {
	background-repeat:repeat-x;
}

.unstyled-list ul {
	list-style-type:none;
}

.unstyled-list ul li {
	margin-left:5px;
}

.icon-list div {
	margin-bottom:10px;
}

.icon-list i {
	margin-top:-5px;
	margin-bottom:20px;
	float:left;
}

.no-padding {
	padding:0!important;
}

.no-padding-left {
	padding-left:0;
}

.no-padding-right {
	padding-right:0;
}

.absolute {
	position:absolute;
	z-index:5;
}

.white-space-reset {
	white-space:normal;
}

.btn {
	white-space:normal;
	word-wrap:break-word;
}

.controls:hover .absolute {
	visibility:hidden;
}

.controls {
	margin-bottom:0;
}

/* Responsive Icon List Styles */
@media screen and (max-width: 1199px) {
	.icon-list {
		max-width:250px;
		margin:0 auto;
	}
	
	.icon-list i {
		float:none;
		margin-bottom:0;
	}
}

/* Responsive Row Styles */
@media screen and (max-width: 768px) {
	.small-device-margin {
		margin:10px!important;
	}
}

/*

Font Icon settings

*/
.fa-stack .fa {
	line-height:1em!important;
	width:1em!important;
	height:1em!important;
}

.fa-lgx,.fa-1x,.fa-2x,.fa-3x,.fa-4x,.fa-5x {
	vertical-align:middle;
}

.fa-ul li {
	margin-bottom:10px;
}

/*

Global Typography settings

*/
a {
	color:#ff7166;
}

strong {
	font-weight:600;
}

/*

Typography Overrides

*/
.field-tour-operator {
	font-family:"Dosis","Dosis Medium",helvetica;
}

.menu-price {
	color: #ff7166;
}

li.leaf:hover .menu-price {
	color: #fff6e5;
}

/*

Navbar Settings

*/

.glazed-header .navbar-container {
	padding-left:25px;
	padding-right:25px;
}

.body--glazed-nav-desktop.navbar-fixed.navbar-horizontal .glazed-header--top.glazed-header--overlay {
	top:69px;
}

.body--glazed-nav-desktop.navbar-fixed.navbar-horizontal.navbar-tray-open.navbar-horizontal .glazed-header--top.glazed-header--overlay {
	top:110px;
}

.body--glazed-nav-desktop.navbar-fixed.navbar-horizontal .glazed-header--top.glazed-header--fixed,.body--glazed-nav-desktop.navbar-fixed.navbar-horizontal .glazed-header--top.affix {
	top:39px!important;
}

.body--glazed-nav-desktop.navbar-fixed.navbar-horizontal.navbar-tray-open.navbar-horizontal .glazed-header--top.glazed-header--fixed,.body--glazed-nav-desktop.navbar-fixed.navbar-horizontal.navbar-tray-open.navbar-horizontal .glazed-header--top.affix {
	top:80px!important;
}

.body--glazed-nav-desktop.body--glazed-header-fixed.navbar-fixed.navbar-horizontal.navbar-tray-open.navbar-horizontal.body--glazed-header-not-overlay {
	padding-top:180px!important;
}

.body--glazed-nav-desktop.body--glazed-header-fixed.navbar-fixed.navbar-horizontal.body--glazed-header-not-overlay {
	padding-top:139px!important;
}

a.glazed-megamenu__heading {
	text-transform:uppercase;
	color:#000!important;
}

a.glazed-megamenu__heading:hover,a.glazed-megamenu__heading:focus {
	cursor:default;
	background-color:transparent!important;
}


#navbar.glazed-header--hover-background .menu .active-trail>a, #navbar.glazed-header--hover-background .menu a:hover, #navbar.glazed-header--hover-background .menu a:hover .menu a:focus, #navbar.glazed-header--hover-background .menu a.active {
    color: #fff;
    background-color: #3e454d;
}

.glazed-megamenu__heading.nolink  {
    background-color: transparent !important;
}

/*

Header Settings

*/


.glazed-secondary-header {
	padding-bottom:0;
	padding-top:0!important;
}

/*
.body--glazed-nav-desktop .glazed-header--top.glazed-header--overlay {
	top:0;
}

.body--glazed-nav-desktop.body--glazed-header-overlay .page-title-full-width-container {
	padding-top:100px!important;
}
*/
h1.page-title {
	font-family:Dosis;
	text-transform:uppercase;
	padding-bottom:10px!important;
	padding-top:10px!important;
}

.page-title-full-width-container {
	margin-bottom:0;
}

/*

Container Settings



*/
.main-container {
	background:#edf6fc;
}

/*

/*Quick Look Grid sections styles

*!/*/
/* Responsive Styles */
@media screen and (max-width: 768px) {
	.responsive-bordered-grid .az-column {
		border:1px solid #333!important;
	}
}

/*

Getting there settings

*/
/* Responsive Styles */
@media screen and (max-width: 768px) {
	.parallax-responsive-margin {
		margin-bottom:200px!important;
	}
}

/*

MAP SETTINGS

*/
/*

Marker Settings

*/
img.leaflet-marker-icon.tag-above-marker.leaflet-interactive.tags {
	left:6px;
}

/*

Popup Settings

*/
.leaflet-popup {
	margin-bottom:5px;
}

.leaflet-container a.leaflet-popup-close-button {
	top:10px;
	right:10px;
}

.leaflet-popup-content-wrapper,.leaflet-popup-tip {
	background:rgba(27,112,167,0.9) none repeat scroll 0 0;
	box-shadow:0 3px 14px rgba(0,0,0,0.4);
	color:#fff6e5;
}

.leaflet-popup-content-wrapper {
	border-radius:0;
	text-align:left;
}

.leaflet-popup-content {
	border:1px solid #fff6e5;
	margin:5px;
	padding:10px 10px 0;
}

.leaflet-popup-content .field-body {
	padding-bottom:15px;
}

@media screen and (max-width: 768px) {
	.leaflet-popup-content {
		width:90vw!important;
	}
}

@media screen and (max-width: 768px) {
	.leaflet-popup-content p {
		font-size:12px;
	}
}

.leaflet-popup-content .col-xs-12 {
	margin-bottom:0;
}

.leaflet-popup-content h4 {
	color:#7ecefd;
	text-align:center;
	padding-bottom:5px;
	margin-bottom:5px;
	font-size:18px;
}

.leaflet-popup-content p {
	margin:0 0 15px;
}

.leaflet-popup-content img {
	margin-left:10px;
}

/*

Tag Settings

*/
div.leaflet-tagged-marker p {
	background-color:rgba(61,68,76,.8);
	color:#fff6e5;
	border:1px solid #3e454d;
	min-width:125px;
	font-family:'Titillium Web',helvetica;
	font-size:9px;
}

div.leaflet-tagged-marker div.tag-above-marker {
	top:-60px!important;
	left:-63px!important;
}

path.leaflet-interactive {
	stroke:red;
	stroke-opacity:.9;
	stroke-width:2px;
	stroke-dasharray:4;
/* or  none */
}

.inside-shadow {
	-webkit-box-shadow:inset 3px 3px 25px rgba(0,0,0,0.8);
	-moz-box-shadow:inset 3px 3px 25px rgba(0,0,0,0.8);
	box-shadow:inset 3px 3px 25px rgba(0,0,0,0.8);
}

.leaflet-container:last-child:after {
	content:'';
	position:absolute;
	-moz-box-shadow:inset 3px 3px 25px rgba(0,0,0,0.8);
	-webkit-box-shadow:inset 3px 3px 25px rgba(0,0,0,0.8);
	box-shadow:inset 3px 3px 25px rgba(0,0,0,0.8);
	width:100%;
	height:100%;
	display:block;
	pointer-events:none;
	z-index:1000;
}

/*For the map controls*/
.leaflet-control {
	float:left!important;
	margin-top:10px;
}

.view-display-id-block_1 table {
	margin-bottom:0;
	border:none;
	width:100%;
}

.view-display-id-block_1 table td {
	padding:20px;
	text-align:center;
	color:#ff7166;
	text-transform:uppercase;
	border:1px solid #3e454c;
	font-size:14px;
}

.view-display-id-block_1 table td.active {
	background-color:#7ecefd;
}

.view-display-id-block_1 table td:hover {
	background-color:#7ecefd;
	cursor:pointer;
}

.view-display-id-block_2 table tr {
	background:#000;
}

.view-display-id-block_2 .field-map-popup-image {
	border:1px solid #000;
}

.view-display-id-block_2 table td:hover {
	cursor:pointer;
}

.view-display-id-block_2 table td:hover .absolute {
	visibility:hidden;
}

.views-view-grid td.synced-marker-hover {
	background-color:#7ecefd!important;
}

.view-Maps.view-display-id-block_2 .ihe-overlay {
	font-size:.5vw;
}

.view-Maps.view-display-id-block_2 h4 {
	font-size:1.8vw;
}

/* Responsive classes for the map controls*/
@media screen and (max-width: 768px) {
	.view-display-id-block_1 table td {
		font-size:26px;
	}
}

@media screen and (max-width: 480px) {
	.view-display-id-block_1 table td {
		font-size:8px;
		padding:10px;
	}
}

/*Animated Backgrounds*/
.parallax-animation {
	background-size:100%!important;
}

/*

Package Gridstack Settings

*/
.view-package-tour-gridstack h2 {
	font-size:12px;
	color:#fff;
}

.view-package-tour-gridstack h3 {
	color:#fff;
	font-size:16px;
}

/*

Package Modal Settings

*/
.cbp-popup-content {
	padding:10px;
	margin:10px;
	background:#fff6e5;
}

.cbp-caption h4 {
	color:#fff;
}

/*

Package Node Settings

*/
.node-portfolio .content.row {
	margin-top:50px;
}

.node-portfolio .content.row {
	margin-top:25px;
}

.node-portfolio .cms-portfolio-details div {
	margin-bottom:25px;
}

.node-portfolio .cms-portfolio-details {
	margin-top:50px;
}

.node-portfolio .field-label {
	font-weight:700;
}

/*

Front Page Settings

*/
.rotator {
	z-index:1;
}

.rotator h2 {
	font-weight:400;
	font-size:3vw;
	font-family:"Dosis",helvetica;
	text-shadow:3px 3px 2px #000;
}

.rotator.dynamic h2 {
	color:#7ecefd;
}

@media screen and (max-width: 480px) {
	.full-viewport {
		background-image:url(Backgrounds/front-small.jpg)!important;
		background-attachment:scroll!important;
		background-position:0 0!important;
	}
}

/*
@media screen and (max-width: 992px) {
 .rotator h2  {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
 .rotator h2  {
        font-size: 22px;
    }
}

@media screen and (max-width: 640px) {
 .rotator h2  {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
 .rotator h2  {
        font-size: 14px;
    }
}
*/
.view-rotator .view-header {
	display:inline-block;
	float:left;
	margin-right:5px;
}

.view-rotator .view-header h2 {
	color:#fff;
}

.view-rotator .view-content {
	width:55%;
	float:left;
}

.views-slideshow-cycle-main-frame-row {
	width:100%!important;
}

.block-js-center {
	position:absolute;
	width:100%;
}

.absolute.button-front {
	left:50%;
}

.absolute.button-front .btn {
	position:relative;
	left:-50%;
	top:60vh;
	z-index:5;
}

/*
Timeline Settings

*/
.stpe-timeline h4.subheading {
	color:#ff7166!important;
}

ul.stpe-timeline,.page-node-130 section,.page-node-130 div {
	overflow:visible;
}

/*
Footer Settings

*/
.glazed-footer .footer-container {
	padding-top:0!important;
}

/*
Sticky Bottom Nav Settings

*/
.fixed-bottom-nav {
	position:relative;
	width:100%;
}

.fixed-bottom-nav .container-fluid {
	position:fixed;
	top:45vh;
	left:0;
	width:10vw;
	margin:0 auto;
	z-index:500;
	opacity:.2;
}

@media screen and (max-width: 768px) {
	.fixed-bottom-nav .container-fluid {
		width:25vw;
	}
}

.fixed-bottom-nav .row {
	background:rgba(126,206,253,.8);
	color:#000;
	border:1px solid #000;
	display:block;
}

.fixed-bottom-nav .row:hover {
	cursor:pointer;
}

/*
Read More Settings

*/
.fade-text {
	max-height:300px;
	overflow:hidden;
	text-overflow:ellipsis;
	content:"";
	position:relative;
}

.fade-text:before {
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:rgba(237,246,252,0);
	background:-moz-linear-gradient(top,rgba(237,246,252,0) 0%,rgba(237,246,252,0) 77%,rgba(237,246,252,1) 100%);
	background:-webkit-gradient(left top,left bottom,color-stop(0%,rgba(237,246,252,0)),color-stop(77%,rgba(237,246,252,0)),color-stop(100%,rgba(237,246,252,1)));
	background:-webkit-linear-gradient(top,rgba(237,246,252,0) 0%,rgba(237,246,252,0) 77%,rgba(237,246,252,1) 100%);
	background:-o-linear-gradient(top,rgba(237,246,252,0) 0%,rgba(237,246,252,0) 77%,rgba(237,246,252,1) 100%);
	background:-ms-linear-gradient(top,rgba(237,246,252,0) 0%,rgba(237,246,252,0) 77%,rgba(237,246,252,1) 100%);
	background:linear-gradient(to bottom,rgba(237,246,252,0) 0%,rgba(237,246,252,0) 77%,rgba(237,246,252,1) 100%);
}

/*
Hide Button Settings

*/

.hideButton {
    cursor: pointer;
}.container {
  max-width: 1170px;
  padding-left: 60px;
  padding-right: 60px;
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.glazed-boxed-container {
  max-width: 1170px;
}
.container .row {
  margin-left: -15px;
  margin-right: -15px;
}
.container .row .row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.region-sidebar-first .block,
.region-sidebar-second .block {
  margin-bottom: 30px;
}
.page-title-full-width-container {
  margin-bottom: 30px;
}
.page-title-full-width-container .breadcrumb {
  right: 60px;
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
body { background-position: left top; }

body { background-size: auto; }

